In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
website_html = requests.get('https://en.wikipedia.org/wiki/List_of_districts_of_Gujarat').text

In [3]:
soup = BeautifulSoup(website_html, 'lxml')

In [4]:
import pandas as pd
mylist = []
for tr in soup.find_all('tr')[1:]:
    tds = tr.find_all('td')
    try:
        mylist.append([tds[0].text.rstrip(), tds[1].text.rstrip(), tds[2].text.rstrip(),\
                       tds[3].text.rstrip(), tds[4].text.rstrip(), tds[5].text.rstrip(),\
                       tds[6].text.rstrip(), tds[7].text.rstrip(), tds[8].text.rstrip(), tds[9].text.rstrip()])    
    except:
        next
df = pd.DataFrame(mylist, columns=['No.', 'District', 'Capital', \
                                   'Population 2001 Census', 'Population 2011 Census', 'Area', \
                                   'Density 2011', 'Year of Formation', 'Taluka', 'Total Talukas'])

df.head(15)

,No.,District,Capital,Population 2001 Census,Population 2011 Census,Area,Density 2011,Year of Formation,Taluka,Total Talukas
0,1,Ahmedabad,Ahmedabad,"5,673,090","7,045,313","7,170",983,1960,AhmedabadBavlaDaskroiDetroj-RampuraDhandhukaDh...,10
1,2,Amreli,Amreli,"1,393,880","1,513,614","6,760",224,1960,AmreliBabraBagasaraDhariJafrabadKhambhaKunkava...,11
2,3,Anand,Anand,"1,856,712","2,090,276","4,690",446,1997,AnandAnklavBorsadKhambhatPetladSojitraTarapurU...,8
3,4,Aravalli,Modasa,"908,797","1,039,918","3,217",323,2013,BayadBhilodaDhansuraMalpurMeghrajModasa,6
4,5,Banaskantha,Palanpur,"2,502,843","3,116,045","12,703",245,1960,AmirgadhBhabharDantaDantiwadaDeesaDeodarDhaner...,14
5,6,Bharuch,Bharuch,"1,370,104","1,550,822","6,524",238,1960,BharuchAmodAnkleshwarHansotJambusarJhagadiaNet...,9
6,7,Bhavnagar,Bhavnagar,"2,065,492","2,393,272","8,334",287,1960,BhavnagarGariadharGhoghaJesarMahuvaPalitanaSih...,10
7,8,Botad,Botad,"547,567","656,005","2,564",256,2013,BotadBarwalaGadhadaRanpur,4
8,9,Chhota Udaipur,Chhota Udaipur,"909,799","1,071,831","3,237",331,2013,Chhota UdepurBodeliJetpur paviKavantNasvadiSan...,6
9,10,Dahod,Dahod,"1,635,374","2,126,558","3,643",583,1997,DahodDevgadh bariaDhanpurFatepuraGarbadaLimkhe...,9
10,11,Dang,Ahwa,"186,712","226,769","1,764",129,1960,AhwaSubirWaghai,3
11,12,Devbhoomi Dwarka,Khambhalia,"623,091","752,484","5,684",132,2013,BhanvadKalyanpurKhambhaliaOkhamandal,4
12,13,Gandhinagar,Gandhinagar,"1,334,731","1,387,478","2,163",641,1964,GandhinagarDehgamKalolMansa,4
13,14,Gir Somnath,Veraval,"1,059,675","1,217,477","3,754",324,2013,Gir-GadhadaKodinarSutrapadaTalalaUnaPatan-Veraval,6
14,15,Jamnagar,Jamnagar,"1,281,187","1,407,635","8,441",167,1960,JamnagarDhrolJamjodhpurJodiyaKalavadLalpur,6

In [5]:
df.drop(['No.', 'District', 'Population 2001 Census', 'Area', 'Year of Formation', 'Taluka'], axis=1, inplace=True)
df.head(7)

     Capital Population 2011 Census Density 2011 Total Talukas
0  Ahmedabad              7,045,313          983            10
1     Amreli              1,513,614          224            11
2      Anand              2,090,276          446             8
3     Modasa              1,039,918          323             6
4   Palanpur              3,116,045          245            14
5    Bharuch              1,550,822          238             9
6  Bhavnagar              2,393,272          287            10

In [6]:
df

           Capital Population 2011 Census Density 2011 Total Talukas
0        Ahmedabad              7,045,313          983            10
1           Amreli              1,513,614          224            11
2            Anand              2,090,276          446             8
3           Modasa              1,039,918          323             6
4         Palanpur              3,116,045          245            14
5          Bharuch              1,550,822          238             9
6        Bhavnagar              2,393,272          287            10
7            Botad                656,005          256             4
8   Chhota Udaipur              1,071,831          331             6
9            Dahod              2,126,558          583             9
10            Ahwa                226,769          129             3
11      Khambhalia                752,484          132             4
12     Gandhinagar              1,387,478          641             4
13         Veraval              1,217,477          324             6
14        Jamnagar              1,407,635          167             6
15        Junagadh              1,525,605          300            10
16            Bhuj              2,090,313           46            10
17          Nadiad              2,053,769          560            10
18        Lunavada                994,624          398             6
19         Mehsana              2,027,727          419            11
20           Morbi                960,329          197             5
21        Rajpipla                590,379          215             5
22         Navsari              1,330,711          602             6
23          Godhra              1,642,268          502             7
24           Patan              1,342,746          234             9
25       Porbandar                586,062          255             3
26          Rajkot              3,015,229          399            11
27     Himmatnagar              1,388,671          333             8
28           Surat              6,079,231        1,337            10
29   Surendranagar              1,585,268          171            10
30           Vyara                806,489          248             7
31        Vadodara              3,093,795          718             8
32          Valsad              1,703,068          561             6

In [7]:
from geopy.geocoders import Nominatim

In [8]:
address = 'Ahmedabad, Gujarat, India'

geolocator = Nominatim(user_agent="gujarat_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Ahmedabad are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Ahmedabad are 23.0216238, 72.5797068.

In [9]:
#!conda install -c conda-forge geocoder --yes 

import geocoder # import geocoder

lat_lng_coords = None

# loop until you get the coordinates
for city in df['Capital']:
    print(city)

Ahmedabad
Amreli
Anand
Modasa
Palanpur
Bharuch
Bhavnagar
Botad
Chhota Udaipur
Dahod
Ahwa
Khambhalia
Gandhinagar
Veraval
Jamnagar
Junagadh
Bhuj
Nadiad
Lunavada
Mehsana
Morbi
Rajpipla
Navsari
Godhra
Patan
Porbandar
Rajkot
Himmatnagar
Surat
Surendranagar
Vyara
Vadodara
Valsad

In [10]:
newlist = []
from  geopy.geocoders import Nominatim
geolocator = Nominatim()

for city in df['Capital']:
    try:
        loc = geolocator.geocode(city+', Gujarat, India')
        newlist.append([city, loc.latitude, loc.longitude])
    except:
        next

newdf = pd.DataFrame(newlist, columns=['City', 'Latitude', 'Longitude'])

newdf

              City   Latitude  Longitude
0        Ahmedabad  23.021624  72.579707
1           Amreli  20.866667  70.750000
2            Anand  22.558499  72.962563
3           Modasa  23.463424  73.299063
4         Palanpur  24.170979  72.436638
5          Bharuch  21.750000  73.000000
6        Bhavnagar  21.771884  72.141645
7            Botad  22.168600  71.668500
8   Chhota Udaipur  22.304865  74.012611
9            Dahod  22.835854  74.255678
10            Ahwa  20.758726  73.687353
11      Khambhalia  22.460833  70.070869
12     Gandhinagar  23.223288  72.649227
13         Veraval  20.905700  70.378100
14        Jamnagar  22.250000  70.000000
15        Junagadh  21.250000  70.333333
16            Bhuj  23.247245  69.668339
17          Nadiad  22.689507  72.871520
18        Lunavada  23.129171  73.610956
19         Mehsana  23.601263  72.374152
20           Morbi  22.817666  70.834593
21        Rajpipla  21.869745  73.504813
22         Navsari  20.952407  72.932383
23          Godhra  22.778500  73.624516
24           Patan  23.768435  71.691919
25       Porbandar  21.640900  69.611000
26          Rajkot  22.304577  70.802161
27     Himmatnagar  23.586836  72.951934
28           Surat  21.186461  72.808128
29   Surendranagar  22.750000  71.666667
30           Vyara  21.112100  73.396104
31        Vadodara  22.297076  73.195737
32          Valsad  20.500000  73.083333

In [12]:
#!conda install -c conda-forge googlemaps --yes 
import googlemaps

In [11]:
df.to_pickle("citiesofgujarat.pickle")
newdf.to_pickle("gujcitieslocation.pickle")

In [ ]:

gmaps_key = googlemaps.Client(key = "AIzaSyB9ivRzIKZ2cy-wSqbmtnGk3E27kSXIXxM")
nlist = []

for city in df['Capital']:
    ncity = city + ', Gujarat, India'
    try:
        geocode_result = gmaps_key.geocode(ncity)
        lat = geocode_result[0]['geometry']['location']['lat']
        lng = geocode_result[0]['geometry']['location']['lng']
        nlist.append([city, lat, lng])
    except:
        next

ndf = pd.DataFrame(nlist, columns=['City', 'Latitude', 'Longitude'])

ndf